@import url('mobile.css');

@font-face {
    font-family: 'Regular';
    src: url('../fonts/archivo.ttf');
}

@font-face {
    font-family: 'snes';
    src: url('../fonts/snes.ttf');
}

@font-face {
    font-family: 'debug';
    src: url('../fonts/debug.otf');
}

body {
    background-color: var(--bg1);
    margin: 0;
    padding: 0;
    font-family: 'Regular';
    color: white;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'snes';
    font-weight: normal;
}

h1 {font-size: 100px;}
h2 {font-size: 80px;}
h3 {font-size: 60px;}

a {
    font-family: 'Regular';
    font-weight: bold;
    background-color: grey;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    transition: 200ms;
}

a:hover {
    background-color: var(--main-color);
    box-shadow: var(--sec-color) 0px 0px 10px;
}

.text-link {
    background-color: #00000000 !important;
    color: rgb(0, 192, 240) !important;
    font-size: 1em !important;
    text-transform: none;
    padding: 0;
    margin: 0;
}

.text-link:hover {
    color:hsl(192, 100%, 37%) !important;
    text-decoration: underline 2px !important;
    box-shadow: none;
}

center {
    text-align: center;
}

pre {
    background-color: rgba(80, 80, 80, 0.5);
    padding: 20px;
    border: black 1px solid;
    border-radius: 15px;
    font-size: 16px;
}

footer {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 50px;
    line-height: 0px;
    font-weight: bold;
}

footer a {
    font-family: 'Regular';
    font-weight: bold;
    background-color: grey;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    float: right;
    transition: 200ms;
}

footer a:hover {
    background-color: var(--main-color);
    box-shadow: var(--sec-color) 0px 0px 10px;
}

::selection {
    color: black;
    background-color: white;
}

:root {
    --main-color: #ff7b00;
    --sec-color: rgb(255, 165, 46);
    --bg1: rgb(50, 50, 50);
    --bg2: black;
    --bg3: white;
    --bgdiscord: #18191c;

    --bioanim1: #ff5e00;
    --bioanim2: #fd9744;
    --bioanim3: #ffc964;
}

.home-banner {
    background-color: black;
    color: #00000000;
    font-family: 'debug';
    font-size: 65px;
    letter-spacing: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91.9vh;
    text-shadow: none;
    transition: 1s;
    cursor: default;
}

.home-banner:hover {
    color: white;
    font-size: 80px;
    letter-spacing: 40px;
}

.home-banner img {
    height: 400px;
}

nav {
    font-family: 'debug';
    font-size: 30px;
    padding: 10px 30px;
    position: sticky;
    background-color: #000;
    top: 0;
    height: 5vh;
    z-index: 10;
}

.nav-btn {
    float: right;
}

nav a {
    background-color: #00000000;
    padding: 10px;
}

nav a:hover {
    background-color: #00000000;
    box-shadow: none;
    text-shadow: var(--sec-color) 0px 0px 5px;
    text-decoration: underline 2px solid
}

.home-bio {
    background-color: white;
    color: black;
    padding: 80px;
    font-size: 60px;
    cursor: default;
    transition: 400ms;
    animation: none;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.home-bio:hover {
    background-color: rgb(238, 238, 238);
    transition: 400ms;
    animation: bioanim 3s ease-in-out infinite;
    padding-left: 100px;
    text-decoration: underline 3px;
}

.home-bio span {
    background-color: #ff5555;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 30px;
}

.home-bio:hover span {
    text-decoration: none !important;
}

@keyframes bioanim {
    0% {color: var(--bioanim1)}
    25% {color: var(--bioanim2)}
    50% {color: var(--bioanim3)}
    75% {color: var(--bioanim2)}
    100% {color: var(--bioanim1)}
}

.home-discord {
    background-color: var(--bgdiscord);
    background-image: url('../assets/disprof.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: 100px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-discord .tag {
    background: #18191c;
    width: 22%;
    padding: 30px;
    border-radius: 15px;
    margin: 3% 10% 3% 10%;
}

.home-discord .tag div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-discord .tag div .badge {
    height: 20px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 0px;
    pointer-events: none;
}

.home-discord .tag img {
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.home-discord .tag .connections {
    display: block !important;
}

.home-discord .tag .connections div {
    border: 2px solid hsl(225, 8%, 30%);
    border-radius: 5px;
    padding: 5px;
    margin-top: 3%;
    justify-content: left !important;
}

.home-discord .tag .connections div:nth-child(1) {
    margin-top: 10% !important;
}

.home-discord .tag .connections .conn-title {
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase;
    color: #bbb;
}

.home-discord .tag .connections .social {
    height: 40px;
}

.home-discord .tag .connections .open {
    height: 22px;
    margin-left: 20px;
}

.home-discord .aboutme {

    background: #18191c;
    padding: 30px;
    border-radius: 15px;
    margin: 3%;
}

.home-discord .aboutme span {
    font-weight: bold;
    font-size: 20px !important;
    font-style: normal !important;
    text-transform: uppercase;
    color: #bbb;
}

.home-discord .aboutme p {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.home-discord .aboutme .rpc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.rpc .rpctit {
    font-weight: bold !important;
    font-size: 20px !important;
}

.rpc .rpc-img-detail {
    background: hsl(225, 8%, 30%);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px !important;
    position: absolute;
    float: left;
    transform: translate(-4px, -45px);
    opacity: 0;
    transition: 150ms;
    z-index: 3;
}

.rpc .big-img-div {
    background: url('../assets/rpc-big.png');
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    z-index: 1;
}

.big-img-div:hover .rpc-img-detail {
    opacity: 100;
}

.rpc .small-img {
    border-radius: 50%;
    height: 30px;
    border: 4px solid #18191c;
    z-index: 2;
    transform: translate(-30px, 40px);
    pointer-events: none;
}

.home-cards-box {
    background-color: var(--bg1);
    padding: 10% 25% 10% 25%;
}

.home-cards-box h1 {
    text-align: center;
    font-size: 100px;
    margin-top: -20px;
}

.home-card {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: rgb(114, 114, 114) 0px 0px 50px;
    font-size: larger;
    text-align: center;
    width: 200px;
    margin-top: -50px;
    transition: 0.2s;
    cursor: default;
}

.home-card:hover {
    transform: translateY(-20px);
}

.home-card img {
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cd-right {
    margin-left: 66%;
}

.home-gfx-banner {
    background-color: rgba(80, 80, 80, 1);
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 400px;
    padding: 50px;
    margin: 0px 50px 50px 50px;
    font-size: 26px;
    border-radius: 20px;
    box-shadow: rgb(0, 192, 250) 0px 0px 50px;
    transition: 0.2s;
}

.home-gfx-banner:hover {
    background-position: top;
}

.home-gfx-banner img {
    height: 150px;
}

.home-gfx-banner div {
    background-color: rgba(80, 80, 80, 1);
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    float: right;
}

.subpage-content {
    padding: 100px;
    font-size: 20px;
}

.sp-box {
    background-color: #00000000;
    color: white;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    width: 140px;
    margin: 0px 20px 20px 0px;
    transition: 150ms;
    display: inline-block;
    cursor: default;
}

.sp-box:hover {
    transform: translateY(-20px);
    background-color: #00000033;
    box-shadow: rgb(114, 114, 114) 0px 0px 50px;
}

.sp-box img {
    height: 140px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.source-container {
    height: 200px;
}

.source-box {
    background-color: white;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 200px;
    width: 32.5%;
    margin-left: 0.5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.source-box a {
    background-color: black !important;
    padding: 10px !important;
    border-radius: 5px !important;
}

.source-box:nth-child(1) {background-image: url('https://res.cloudinary.com/practicaldev/image/fetch/s--sWV8Y0kc--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/kml9j34p9taplrnqtcez.jpg');}
.source-box:nth-child(2) {background-image: url('https://i.blogs.es/cd609b/zip-file/450_1000.jpg');}
.source-box:nth-child(3) {background-image: url('https://img.icons8.com/fluent/512/000000/magical-scroll.png');}
.source-box:hover {background-size: 150%;}

.contact-banner {
    background-color:rgb(30, 30, 30);
    border-radius: 10px;
    margin: 0px 90px 30px 90px;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-banner span {
    font-size: 30px;
    font-weight: bold;
    margin-right: 40px;
}

.contact-banner a img {
    height: 70px;
    margin-right: 20px;
    transition: 200ms;
}

.contact-banner a img:hover {
    transform: translateY(-10px);
}

.yt-ampere-box {
    background-color: black;
    color: white;
    width: 500px;
    padding: 10px;
    margin: 20px;
    border-radius: 1000px;
}

.yt-ampere-icon {
    height: 100px;
    border-radius: 50px;
    transform: translate(2px , 2px);
}

.yt-ampere-logo {
    height: 50px;
    transform: translate(-40px , 15px);
}

.yt-text {
    float: right;
    transform: translate(-60px , 37px);
}

.yt-text a {
    margin-left: 20px;
    border-radius: 50px;
}

.me-timeline-year {
    font-size: xxx-large;
    color: rgb(68, 202, 255);
    font-weight: bold;
}

.me-timeline-content {
    border-left: 5px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding-left: 10px;
}

.me-paragraph {
    float: left;
    width: 500px;
    margin-left: 20px;
}

.me-icon {
    float: left;
}

.gallery-photo {
    background-color: var(--bg2);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 300px;
    width: 32.5%;
    margin-left: 0.5%;
    margin-bottom: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.gallery-photo span {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    transform: translateY(150px);
}

.new {
    padding: 5px 8px !important;
    margin-right: 7px;
    background-color: #6464ff !important;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -1px;
}

.collapsible {
    background-color: var(--bgdiscord);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    max-width: 900px;
    min-width: 900px;
    transition: 200ms;
    border-radius: 15px;
    margin-bottom: 5px;
    transition: 200ms;
}

.active, .collapsible:hover {
    background-color: hsl(225, 8%, 30%);
}

.active {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-bottom: 0px;
    font-size: 24px;
    background-image: linear-gradient(to top, black, hsl(225, 8%, 30%));
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: black;
    max-width: 864px;
    min-width: 864px;
    font-size: 18px;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.newblogsection {
    background-color: #0c8cb3;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 30px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    animation-name: nbsanim;
    animation-duration: 3s;
    transition: 200ms;
}

@keyframes nbsanim {
    0% {opacity: 100;}
    80% {opacity: 100;}
    100% {opacity: 0;}
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}
  
.modal-content {
    background-color: #18191c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
    transition: 250ms;
}
  
.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    transition: 250ms;
}

tr:nth-child(even) {
    background-color: black;
}

tr:hover {
    transition: 250ms;
    background-color: white;
    color: black;
}

th {
    background-image: linear-gradient(45deg, #6bcfb6, #7af3d5);
    color: black;
    padding: 10px;
}

td {
    padding: 10px;
}

td:nth-child(1), td:nth-child(2) {
    padding: 4px !important;
}

/*  MOBILE   */
.menu-btn,
.source-mobile-text
{display: none;}
@media only screen and (min-width: 800px){
.contact-banner-mob {display: none;}}